.vs/Eclearance.slnx/FileContentIndex/b96e40cd-d7d9-4d72-bfc5-2ac0d8ea754f.vsidx
.vs/Eclearance.slnx/v18/.suo
.vs/Eclearance.slnx/v18/DocumentLayout.json
.vs/Eclearance.slnx/FileContentIndex/f207aadd-0550-4114-9d72-9ad8531ea4d7.vsidx
